@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    --color-primary: #6880FF;
    --color-secondary: #FF6B00;

    --font-family-primary: "Figtree", sans-serif;
}

body {
    font-family: var(--font-family-primary);
}

.container {
    width: 90%;
    background: brown;
}